
@{
    //ViewBag.Title = "Select Pattern";
}

    <section class="content">
        <input type="hidden" id="hdId" value="@ViewBag.Id" />
        <input type="hidden" id="hdDocDetId" value="@ViewBag.DocDetId" />
        <input type="hidden" id="hdDocPageNo" value="@ViewBag.DocPageNo" />
        <input type="hidden" id="hdPageFileName" value="@ViewBag.PageFileName" />
        <input type="hidden" id="hdPagePath" value="@ViewBag.PagePath" />
        <input type="hidden" id="hdPatternNo" value="@ViewBag.PatternNo" />
        <input type="hidden" id="hdAccTitleAlphabet" value="@ViewBag.AccTitleAlphabet" />
        <input type="hidden" id="hdAccTitleNumber" value="@ViewBag.AccTitleNumber" />
        <input type="hidden" id="hdAccTitleSymbol" value="@ViewBag.AccTitleSymbol" />
        <input type="hidden" id="hdFootnoteAlphabet" value="@ViewBag.FootnoteAlphabet" />
        <input type="hidden" id="hdFootnoteNumber" value="@ViewBag.FootnoteNumber" />
        <input type="hidden" id="hdFootnoteSymbol" value="@ViewBag.FootnoteSymbol" />
        <input type="hidden" id="hdNumberOfDec" value="@ViewBag.NumberOfDec" />
        <input type="hidden" id="hdNoiseReduce" value="@ViewBag.NoiseReduce" />

        <div class="container-fluid">
            <!-- ROW 1 -->
            <div class="row">
                <div class="col-auto connectedSortable">
                    <div class="card" style="width:970px">
                        <!-- HEAD -->
                        <div class="card-header bg-gradient-primary">
                            <h3 class="card-title"><b><i class="far fa-object-ungroup"></i> Select Pattern For Scan</b></h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="image-decorator text-center">
                                    <table id="tab1" class="table table-bordered">
                                        <thead class="bg-gray-light">
                                            <tr class="text-center">
                                                <th><input id="rdPattern" type="radio" name="rdPattern" value="1" checked /></th>
                                                <th><input id="rdPattern" type="radio" name="rdPattern" value="2" /></th>
                                                <th><input id="rdPattern" type="radio" name="rdPattern" value="3" /></th>
                                                <th><input id="rdPattern" type="radio" name="rdPattern" value="4" /></th>
                                                <th><input id="rdPattern" type="radio" name="rdPattern" value="5" /></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-center">
                                                <td>
                                                    <img id="Pattern1" src="~/Content/img/Pattern/OCRArea_Pattern1n.png" />
                                                </td>
                                                <td>
                                                    <img id="Pattern1" src="~/Content/img/Pattern/OCRArea_Pattern2n.png" />
                                                </td>
                                                <td>
                                                    <img id="Pattern1" src="~/Content/img/Pattern/OCRArea_Pattern3n.png" />
                                                </td>
                                                <td>
                                                    <img id="Pattern1" src="~/Content/img/Pattern/OCRArea_Pattern4n.png" />
                                                </td>
                                                <td>
                                                    <img id="Pattern1" src="~/Content/img/Pattern/OCRArea_Pattern5n.png" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <button type="button" class="btn bg-gradient-success" id="btnSubmit" value="Submit">Begin Scan</button>
                                    <button type="button" class="btn bg-gradient-danger">Back</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /ROW 1 -->
            <!-- ROW 2 -->
            <div class="row">
                <!-- COL 1 -->
                <div class="col-auto connectedSortable">
                    <div class="card" style="width: 700px">
                        <!-- HEAD -->
                        <div class="card-header bg-gradient-primary">
                            <h3 class="card-title"><i class="far fa-object-ungroup"></i> Page Preview</h3>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="image-decorator">
                                    <table id="tab1" class="table table-bordered">
                                        <thead class="bg-gray-light">
                                            <tr>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="@ViewBag.PagePath" width="600" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /COL 1 -->
                <!-- COL 2 -->
                <div class="col-auto connectedSortable">
                    <div class="card" style="width:250px">
                        <div class="card-header bg-gradient-primary">
                            <h3 class="card-title"><i class="far fa-edit"></i> Scan Setting</h3>
                        </div>
                        <div class="card-body">
                            <div><code>Uncheck the checkbox to avoid that nonexistent type of data.</code></div>

                            <label>Account Title/Item</label>
                            <div class="form-check">
                                <input id="chkAccTitleAlphabet" class="form-check-input" type="checkbox">
                                <label class="form-check-label">Alphabet</label>
                            </div>
                            <div class="form-check">
                                <input id="chkAccTitleNumber" class="form-check-input" type="checkbox">
                                <label class="form-check-label">Number</label>
                            </div>
                            <div class="form-check">
                                <input id="chkAccTitleSymbol" class="form-check-input" type="checkbox">
                                <label class="form-check-label">Symbol</label>
                            </div>
                            <hr>

                            <label>Footnote No.</label>
                            <div class="form-check">
                                <input id="chkFootnoteAlphabet" class="form-check-input" type="checkbox">
                                <label class="form-check-label">Alphabet</label>
                            </div>
                            <div class="form-check">
                                <input id="chkFootnoteNumber" class="form-check-input" type="checkbox">
                                <label class="form-check-label">Number</label>
                            </div>
                            <div class="form-check">
                                <input id="chkFootnoteSymbol" class="form-check-input" type="checkbox">
                                <label class="form-check-label">Symbol</label>
                            </div>
                            <div><code>Examples of Symbol : (),.+-</code></div>
                            <hr>

                            <label>Amount Settings</label>
                            <div><code>Specify the precision of currency data.</code></div>
                            <hr>

                            <label>Number of decimals</label>
                            <select id="opNumberOfDec" class="form-control">
                                <option value="0">0 digit</option>
                                <option value="1">1 digit</option>
                                <option value="2" selected>2 digit</option>
                            </select>
                            <hr>

                            <label>Noise reduction settings</label>
                            <div><code>Remove spots from statement images.</code></div>
                            <div class="form-check">
                                <input id="rdNoiseReduce" class="form-check-input" type="radio" name="rdNoiseReduce" value="1" checked>
                                <label class="form-check-label">Auto</label>
                            </div>
                            <div class="form-check">
                                <input id="rdNoiseReduce" class="form-check-input" type="radio" name="rdNoiseReduce" value="2">
                                <label class="form-check-label">Small</label>
                            </div>
                            <div class="form-check">
                                <input id="rdNoiseReduce" class="form-check-input" type="radio" name="rdNoiseReduce" value="3">
                                <label class="form-check-label">Medium</label>
                            </div>
                            <div class="form-check">
                                <input id="rdNoiseReduce" class="form-check-input" type="radio" name="rdNoiseReduce" value="4">
                                <label class="form-check-label">Large</label>
                            </div>
                            <hr>

                        </div>
                    </div>
                </div>
                <!-- /COL 2 -->
            </div>
            <!-- /ROW 2 -->
        </div>
    </section>

@section scripts{
    <script src="~/Scripts/Pages/SelectPattern.Main.js"></script>
}

